<div id="skills">
  <div class="container">
    <h1 class="sub-title">My Skills</h1>
    <div class="skills-list">
      <div>
        <i class="fa-brands fa-java"></i>
        <h2>Java Expertise</h2>
        <p>Proficient in Java programming with 2.5 years of experience. Skilled in OOP, Java SE/EE, concurrency, and unit testing. Developed robust applications and contributed to various projects showcasing Java proficiency</p>
        <a href="#">Learn More</a>
      </div>
      <div>
        <img class="spring_img" src="../../../assets/spring-icon.png">
        <h2>Spring Boot Proficiency</h2>
        <p>Experienced in Spring and Spring Boot frameworks, specializing in backend development. Proficient in building RESTful APIs, implementing security measures, and optimizing performance. Leveraged Spring technologies to develop scalable and robust applications</p>
        <a href="#">Learn More</a>
      </div>
      <div>
        <i class="fa-brands fa-angular"></i>
        <h2>Angular Competence</h2>
        <p>Skilled in Angular framework for dynamic web application development. Proficient in component-based architecture, state management, and front-end optimization. Successfully delivered engaging user interfaces and integrated with backend systems for seamless functionality.</p>
        <a href="#">Learn More</a>
      </div>
      <div>
        <i class="fa-solid fa-database"></i>
        <h2>SQL DB Proficiency</h2>
        <p>
          Proficient in SQL for database design, querying, and optimization. Skilled in relational database management systems like MySQL, PostgreSQL, and Oracle. Experienced in designing efficient database schemas and writing optimized queries for data retrieval and manipulation.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>