<div id="portfolio">
  <div class="container">
    <h1 class="sub-title">My Work</h1>
    <div class="work-list">
    <div class="work">
      <img src="../../../assets/sprin-s-jwt.png" alt="">
      <div class="layer">
        <h3>Secured Angular App with JWT Authentication using Spring Security</h3>
        <p>Experience seamless authentication and authorization in an Angular application powered by Spring Security and JWT tokens, ensuring robust security for your web project</p>
        <a href="https://github.com/param31121997/Spring-security_with_JWT_-_Angular/tree/main" target="_blank" ><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="work">
      <img src="../../../assets/angular.png" alt="">
      <div class="layer">
        <h3>Social Media App</h3>
        <p>The app connects you to the talented people around the world. Download it from play store</p>
        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="work">
      <img src="../../../assets/react.png" alt="">
      <div class="layer">
        <h3>Social Media App</h3>
        <p>The app connects you to the talented people around the world. Download it from play store</p>
        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>
  </div>
  <a href="" class="btn">See more</a>
  </div>
</div>
