
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i>pwankhede700<span>&#64;</span>gmail.com</p>
                <p><i class="fa-solid fa-phone-volume"></i>9689533634</p>
                <div class="social-icons">
                    <a href="https://github.com/param31121997"><i class="fa-brands fa-github"></i></a>
                    <a href="http://www.linkedin.com/in/param311997"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/@modelloco8541"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.instagram.com/random__variable97/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <a href="../../../assets/Parmeshwar Wankhede - Java Angular Developer Resume.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form action="">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>