<div id="navbar" class="container">
<div class="navbar">
<img class="logo" src="../../../assets/avatar.jpg" alt="Logo">
<ul id="sidemenu" class="icon">
    <li><a (click)="onClick('home')">Home</a></li>
    <li><a (click)="onClick('about')">About</a></li>
    <li><a (click)="onClick('skills')">Skills</a></li>
    <li><a (click)="onClick('portfolio')">PortFolio</a></li>
    <li><a (click)="onClick('contact')">Contact</a></li>
    <i class="fa-solid fa-circle-xmark" (click)="closeMenu()"></i>
</ul>
<i class="fa-solid fa-bars" (click)="openMenu()"></i>
</div>
</div>