
.container{
  padding: 10px 10%;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  position: relative;
  height: 80vh;
  min-height: 600px;
  margin: 0 10%;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../../../assets/wp10925608.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.header-text{
  width: 100%;
}
.header-content{
  width: 100%;
}

.p_profession{
  font-size: 20px;
  margin-bottom: 20px;
}

.header-text h1 span{
  color: #ff004f;
}
.header-skills li{
  display: block;
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
}

