<div id='header'>
  <div class="container row">
    <div class="header-text">
      <h1>Hi, I'am <span> Parmeshwar</span></h1>
      <p class="p_profession">Full Stack Developer</p>
    </div>
    <div class="header-content">
      <p>Hello and thank you for visiting!<br> I'm Parmeshwar, a passionate  <strong>Full-Stack developer</strong>,<br>
        specializing in
        <strong>Java</strong> (Spring Boot, Hibernate) and
        <strong>Angular</strong> (RxJS, NgRx, Material).<br> Over the past
        <strong>3+ years</strong>,
        crafting innovative solutions and creating memorable experiences.<br> Here, you'll find a curated collection
        of my projects, where creativity meets functionality.
      </p>
      <a href="../../../assets/Parmeshwar Wankhede - Java Angular Developer Resume.pdf" download
        class="btn btn2">Download CV</a>
    </div>
  </div>
</div>