<div id='header'>
  <div class="container row">
      <div class="header-text">
        <h1>Hi, I'am <span> Parmeshwar</span></h1>
        <p class="p_profession">Full Stack Developer</p>
      </div>
      <div class="header-content">
        <p>Hello and thank you for visiting!<br> I'm Parameshwar, a passionate Full stack developer dedicated to ,<br>
          crafting innovative solutions and creating memorable experiences.<br> Here, you'll find a curated collection
          of my projects, where creativity meets functionality.
        </p>
        <a href="../../../assets/Parmeshwar Wankhede - Java Angular Developer Resume.pdf" download class="btn btn2">Download CV</a>
    </div>
  </div>
</div>